# Server Configuration
NODE_ENV=development
MATCHMAKING_PORT=3001
MATCHMAKING_WS_PORT=8080

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=Matchmaking
DB_PASSWORD=Password
DB_NAME=Matchmaking
DB_DIALECT=mariadb
DB_ROOT_PASSWORD=Password

# User Management
USER_MANAGEMENT_ROUTE=http://localhost:3001/Users/auth

# Docker Configuration
DOCKER_PORT=3001:3001
DOCKER_DB_PORT=3301:3301
DOCKER_WS_PORT=8080:8080